body {
    background-color: #ccf5f5;
}

#Container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#title {
    width: 600px;
    height: 150px;
    background-image:url('images/penguin_title.png');
}

.penguin1 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('images/mound_1.png');
}


.penguin2 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('images/mound_2.png');
}

.penguin3 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('images/mound_3.png');
}

.penguin4 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('images/mound_4.png');
}

.penguin5 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('images/mound_5.png');
}

.penguin6 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('images/mound_6.png');
}


.penguin7 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('images/mound_7.png');
}

.penguin8 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('images/mound_8.png');
}

.yeti {
	width: 200px;
    height: 200px;
    float: left;
    background-image:url('images/mound_9.png');
}












